<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Diabetes360 Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Diabetes360 Distribution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Diabetes360 Lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Diabetes360 Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7705E991147AF8C100403662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7705EA1C147AFD1900403662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771D0D1B14505D2100DC4E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E7EDFE137435C600CA0896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
