<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColorSchemes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Default</string>
			<key>viewBackground</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>51</integer>
				<key>Blue</key>
				<integer>51</integer>
			</dict>
			<key>textNormal</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>153</integer>
				<key>Blue</key>
				<integer>0</integer>
			</dict>
			<key>buttonTitle</key>
			<dict>
				<key>Red</key>
				<integer>153</integer>
				<key>Green</key>
				<integer>0</integer>
				<key>Blue</key>
				<integer>204</integer>
			</dict>
			<key>buttonBackground</key>
			<dict>
				<key>Red</key>
				<integer>0</integer>
				<key>Green</key>
				<integer>102</integer>
				<key>Blue</key>
				<integer>255</integer>
			</dict>
			<key>textHighlight</key>
			<dict>
				<key>Red</key>
				<integer>0</integer>
				<key>Green</key>
				<integer>255</integer>
				<key>Blue</key>
				<integer>51</integer>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Jamba Juice</string>
			<key>viewBackground</key>
			<dict>
				<key>Red</key>
				<integer>115</integer>
				<key>Green</key>
				<integer>0</integer>
				<key>Blue</key>
				<integer>70</integer>
			</dict>
			<key>textNormal</key>
			<dict>
				<key>Red</key>
				<integer>191</integer>
				<key>Green</key>
				<integer>187</integer>
				<key>Blue</key>
				<integer>17</integer>
			</dict>
			<key>buttonTitle</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>194</integer>
				<key>Blue</key>
				<integer>0</integer>
			</dict>
			<key>buttonBackground</key>
			<dict>
				<key>Red</key>
				<integer>232</integer>
				<key>Green</key>
				<integer>136</integer>
				<key>Blue</key>
				<integer>1</integer>
			</dict>
			<key>textHighlight</key>
			<dict>
				<key>Red</key>
				<integer>201</integer>
				<key>Green</key>
				<integer>60</integer>
				<key>Blue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Grandad&apos;s Garden</string>
			<key>viewBackground</key>
			<dict>
				<key>Red</key>
				<integer>123</integer>
				<key>Green</key>
				<integer>140</integer>
				<key>Blue</key>
				<integer>49</integer>
			</dict>
			<key>textNormal</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>197</integer>
				<key>Blue</key>
				<integer>88</integer>
			</dict>
			<key>buttonTitle</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>147</integer>
				<key>Blue</key>
				<integer>70</integer>
			</dict>
			<key>buttonBackground</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>99</integer>
				<key>Blue</key>
				<integer>60</integer>
			</dict>
			<key>textHighlight</key>
			<dict>
				<key>Red</key>
				<integer>186</integer>
				<key>Green</key>
				<integer>13</integer>
				<key>Blue</key>
				<integer>40</integer>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Cinnamon Toast</string>
			<key>viewBackground</key>
			<dict>
				<key>Red</key>
				<integer>120</integer>
				<key>Green</key>
				<integer>97</integer>
				<key>Blue</key>
				<integer>57</integer>
			</dict>
			<key>textNormal</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>176</integer>
				<key>Blue</key>
				<integer>88</integer>
			</dict>
			<key>buttonTitle</key>
			<dict>
				<key>Red</key>
				<integer>217</integer>
				<key>Green</key>
				<integer>121</integer>
				<key>Blue</key>
				<integer>57</integer>
			</dict>
			<key>buttonBackground</key>
			<dict>
				<key>Red</key>
				<integer>181</integer>
				<key>Green</key>
				<integer>75</integer>
				<key>Blue</key>
				<integer>32</integer>
			</dict>
			<key>textHighlight</key>
			<dict>
				<key>Red</key>
				<integer>107</integer>
				<key>Green</key>
				<integer>23</integer>
				<key>Blue</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Water Color</string>
			<key>viewBackground</key>
			<dict>
				<key>Red</key>
				<integer>232</integer>
				<key>Green</key>
				<integer>222</integer>
				<key>Blue</key>
				<integer>97</integer>
			</dict>
			<key>textNormal</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>139</integer>
				<key>Blue</key>
				<integer>97</integer>
			</dict>
			<key>buttonTitle</key>
			<dict>
				<key>Red</key>
				<integer>255</integer>
				<key>Green</key>
				<integer>110</integer>
				<key>Blue</key>
				<integer>122</integer>
			</dict>
			<key>buttonBackground</key>
			<dict>
				<key>Red</key>
				<integer>232</integer>
				<key>Green</key>
				<integer>89</integer>
				<key>Blue</key>
				<integer>172</integer>
			</dict>
			<key>textHighlight</key>
			<dict>
				<key>Red</key>
				<integer>132</integer>
				<key>Green</key>
				<integer>133</integer>
				<key>Blue</key>
				<integer>255</integer>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Earth Baby</string>
			<key>viewBackground</key>
			<dict>
				<key>Red</key>
				<integer>28</integer>
				<key>Green</key>
				<integer>192</integer>
				<key>Blue</key>
				<integer>73</integer>
			</dict>
			<key>textNormal</key>
			<dict>
				<key>Red</key>
				<integer>0</integer>
				<key>Green</key>
				<integer>108</integer>
				<key>Blue</key>
				<integer>157</integer>
			</dict>
			<key>buttonTitle</key>
			<dict>
				<key>Red</key>
				<integer>86</integer>
				<key>Green</key>
				<integer>31</integer>
				<key>Blue</key>
				<integer>55</integer>
			</dict>
			<key>buttonBackground</key>
			<dict>
				<key>Red</key>
				<integer>182</integer>
				<key>Green</key>
				<integer>0</integer>
				<key>Blue</key>
				<integer>61</integer>
			</dict>
			<key>textHighlight</key>
			<dict>
				<key>Red</key>
				<integer>249</integer>
				<key>Green</key>
				<integer>116</integer>
				<key>Blue</key>
				<integer>38</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
