<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InsulinBrands</key>
	<array>
		<dict>
			<key>brandName</key>
			<string>Humalog</string>
			<key>classification</key>
			<string>0Rapid</string>
			<key>doseInterval</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Novolog</string>
			<key>classification</key>
			<string>0Rapid</string>
			<key>doseInterval</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Apidra</string>
			<key>classification</key>
			<string>0Rapid</string>
			<key>doseInterval</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Humulin</string>
			<key>classification</key>
			<string>2Short</string>
			<key>doseInterval</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Velosulin</string>
			<key>classification</key>
			<string>2Short</string>
			<key>doseInterval</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>NPH</string>
			<key>classification</key>
			<string>3Intermediate</string>
			<key>doseInterval</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Lente</string>
			<key>classification</key>
			<string>3Intermediate</string>
			<key>doseInterval</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Ultralente</string>
			<key>classification</key>
			<string>1Long</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Lantus</string>
			<key>classification</key>
			<string>1Long</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Levemir</string>
			<key>classification</key>
			<string>1Long</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
        <dict>
            <key>brandName</key>
            <string>Basaglar</string>
            <key>classification</key>
            <string>1Long</string>
            <key>doseInterval</key>
            <integer>24</integer>
        </dict>
        <dict>
            <key>brandName</key>
            <string>Tresiba</string>
            <key>classification</key>
            <string>1Long</string>
            <key>doseInterval</key>
            <integer>42</integer>
        </dict>
        <dict>
            <key>brandName</key>
            <string>Toujeo</string>
            <key>classification</key>
            <string>1Long</string>
            <key>doseInterval</key>
            <integer>24</integer>
        </dict>
		<dict>
			<key>brandName</key>
			<string>Novolin</string>
			<key>classification</key>
			<string>4Mixed</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>70/30</string>
			<key>classification</key>
			<string>4Mixed</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>75/25</string>
			<key>classification</key>
			<string>4Mixed</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>50/50</string>
			<key>classification</key>
			<string>4Mixed</string>
			<key>doseInterval</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Amaryl</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Glucotrol</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Diabeta</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Glynase</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Micronase</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Starlix</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Prandin</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Fortamet</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Glucophage</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Glumetza</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Riomet</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Precose</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Glyset</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Actose</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Avandia</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Januvia</string>
			<key>classification</key>
			<string>5Oral</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Victoza</string>
			<key>classification</key>
			<string>6Non Insulin</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Byetta</string>
			<key>classification</key>
			<string>6Non Insulin</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Symlin</string>
			<key>classification</key>
			<string>6Non Insulin</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>ACTOplus met</string>
			<key>classification</key>
			<string>7Miscellaneous</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Avandamet</string>
			<key>classification</key>
			<string>7Miscellaneous</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Avandaryl</string>
			<key>classification</key>
			<string>7Miscellaneous</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Glucovance</string>
			<key>classification</key>
			<string>7Miscellaneous</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Metaglip</string>
			<key>classification</key>
			<string>7Miscellaneous</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Janumet</string>
			<key>classification</key>
			<string>7Miscellaneous</string>
			<key>doseInterval</key>
			<integer>0</integer>
		</dict>
        <dict>
            <key>brandName</key>
            <string>Afrezza</string>
            <key>classification</key>
            <string>7Miscellaneous</string>
            <key>doseInterval</key>
            <integer>0</integer>
        </dict>
	</array>
</dict>
</plist>
